<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
  </head>
  <body>
    <h1></h1>
    <header class="bg-yellow">
      <h1 class="w-50">
        <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
      </h1>
      <div class="buscador">
        <input
          type="text"
          placeholder="Buscá productos por nombre, marcas o palabras clave"
        />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
        <p class=".texto-centrado">
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </p>
      <div class="pad-1">
      <ul>
        <li><a class="texto-normal" href="#">Ofertas</a></li>
        <li><a class="texto-normal" href="#">Tiendas Oficiales</a></li>
        <li><a class="texto-normal" href="#">Vender</a></li>
        <li><a class="texto-normal" href="#">Ayuda</a></li>
      </ul>
    </div>
      <div div class="pad-1">
      <ul>
          <li><a class="texto-normal" href="#">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
        </li>
          <li><a class="texto-normal" href="#">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i
          ></a>
        </li>
        <li><a class="texto-normal" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </li>
      </ul>
    </div>
      <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    <img width="100%" src="images/img-home-banner.jpg" alt="" />
    <main class="main-prod">
      <h2 class="titulares">Basado en tu ultima visita</h3>
      <div class="separacion">
        <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="" />
        <p class="precios">$6.770</p>
        <p class="descrpciones">40% OFF</p>
        <p class="descrpciones"><strong>Cafetera Moulinex</strong></p>
      </div>
      <div class="separacion">
        <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="" />
        <p class="precios">$230.000</p>
        <p class="descrpciones">20% off</p>
        <p class="descrpciones"><strong>MacBook Pro 2019</strong></p>
      </div>
      <div class="separacion">
        <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="" />
        <p class="precios">$23.000</p>
        <p class="descrpciones">5% off</p>
        <p class="descrpciones"><strong>SmartTv Samsung 43"</strong></p>
      </div>
      <div class="separacion">
        <h3 class="titulares">Sección de Ofertas</h3>
        <img width="100%" src="images/img-cafetera-moulinex.jpg" alt="" />
        <p class="precios">$6.770</p>
        <p class="descrpciones">40% OFF</p>
        <p class="descrpciones"><strong>Cafetera Moulinex</strong></p>
      </div>
      <div class="separacion">
        <img width="100%" src="images/img-macbook-pro-2019.jpg" alt="" />
        <p class="precios">$230.000</p>
        <p class="descrpciones">20% off</p>
        <p class="descrpciones"><strong>MacBook Pro 2019</strong></p>
      </div>
      <div>
        <img width="100%" src="images/img-samsung-galaxy-s10.jpg" alt="" />
        <p class="precios">$23.000</p>
        <p class="descrpciones">5% off</p>
        <p class="descrpciones"><strong>SmartTv Samsung 43"</strong></p>
      </div>
    </main>
    <footer class="footer">
      <i id="icons" class="fa-solid fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <i id="icons" class="fa-solid fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <i id="icons" class="fa-solid fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <h5 class="bottom">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
  </body>
</html>
