<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Mercado Liebre</title>
  </head>
  <body class="back-grey">
    <header class="back-yellow padding-8">
      <div class="align-center padding-20 display-flex flex-wrap">
        <h1 class="w-50 padding-8">
          <img src="/images/logo-mercado-liebre.svg" alt="Logo ML" />
        </h1>
          <form action="/" class="padding-8 w-50 display-flex radius-5 back-white">
            <input
              class="flex-grow border-none outline-none font-18 min-with-0"
              type="text"
              name="search"
              placeholder="Buscá productos por nombre, marcas o palabras clave"
            />
            <button type="submit" class="back-white border-none">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <p class="dolar-header text-center w-100 margin-t-b-10">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
          </p>
      </div>
      <a href="#" class="burger-buttom">
        <i class="fa-solid fa-bars"></i>
      </a>
          <nav class="main-bar">
            <ul class="left-navbar padding-t-b-8">
              <li><a class="nav-link" href="#">Ofertas</a></li>
              <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
              <li><a class="nav-link" href="#">Vender</a></li>
              <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar padding-t-b-8">
              <li>
                <a class="nav-link" href="/register"
                  >Crea tu cuenta <i class="fa-solid fa-address-card"></i
                ></a>
              </li>
              <li>
                <a class="nav-link" href="/login"
                    >Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
              </li>
              <li>
                <a class="nav-link" href="#"
                  >Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
              </li>
            </ul>
          </nav>
    </header>

    <img
      class="w-100"
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
    />

    <main class="padding-8 vw-90 margin-auto">
      <section class="padding-8 display-flex flex-wrap gap">
        <h2 class="title w-100">Basado en tu última visita</h2>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img class="w-100" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex"/>
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$6.770</p>
            <p class="color-green font-16">40% OFF</p>
            <h3 class="font-16 description w-100">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img class="w-100" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019"/>
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$230.000</p>
            <p class="color-green font-16">20% off</p>
            <h3 class="font-16 description w-100">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img class="w-100" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10"/>
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$70.500</p>
            <p class="color-green font-16">10% off</p>
            <h3 class="font-16 description w-100">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/images/img-tv-samsung-smart.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$23.200</p>
            <p class="color-green font-16">5% off</p>
            <h3 class="font-16 description w-100">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
      <section class="padding-8 display-flex flex-wrap gap">
        <h2 class="title w-100">Ofertas</h2>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/images/img-cafetera-moulinex.jpg"
            alt="Cafetera Moulinex"
          />
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$6.770</p>
            <p class="color-green font-16">40% OFF</p>
            <h3 class="font-16 description w-100">Cafetera Moulinex</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/images/img-macbook-pro-2019.jpg"
            alt="Macbook Pro 2019"
          />
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$230.000</p>
            <p class="color-green font-16">20% off</p>
            <h3 class="font-16 description w-100">MacBook Pro 2019</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img
            class="w-100"
            src="/images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$70.500</p>
            <p class="color-green font-16">10% off</p>
            <h3 class="font-16 description w-100">Samsung Galaxy S10</h3>
          </div>
        </article>
        <article class="back-white margin-t-b-10 product-shadow w-100 md-w-50 lg-w-25">
          <img class="w-100" src="/images/img-tv-samsung-smart.jpg" alt="Samsung Galaxy S10"/>
          <div class="border-1 padding-8 position-relative display-flex flex-wrap">
            <i class="fa-solid fa-truck truck-icon"></i>
            <p class="font-18 margin-r-8">$23.200</p>
            <p class="color-green font-16">5% off</p>
            <h3 class="font-16 description w-100">SmartTv Samsung 43"</h3>
          </div>
        </article>
      </section>
    </main>

    <footer class="text-center">
      <i id="icons" class="fa-solid fa-credit-card"></i>
      <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <i id="icons" class="fa-solid fa-gift"></i>
      <h3>Envío gratis desde $ 2.500</h3>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <i id="icons" class="fa-solid fa-user-shield"></i>
      <h3>Seguridad, de principio a fin</h3>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <h5 class="font-s margin-20">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
  </body>
</html>
